{% load static %}
<!--  -->

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<title>Syed Ali Faraz</title>
</head>
<body>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100 border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'images/farazp2.jpg' %}" > 
					<hr>
					<h4>Hi I'm Faraz</h4>
					<p>I love coding, doing research and collaborating</p>
				</div>
			</div>
			<br>
			<div class="col-md-9">
				<div class="card card-body h-100 border-info">
					<h4>My First Job as a Developer</h4>
					<hr>
					<p>
						Started my journey in Jan, 2020 during pandemic while researching on different fields I can take in programming and I finally stood my grounds on web development and started college by Sep 2021, their my development skill polished to its best
					</p>
					<p>
						Now I work with clients from all over the world on platforms like Fiverr and upwork, most of my clients got to me through linkedin.
					</p>
					<p>
						From this you'll see that I'm someone that jumps before I can talk myself out of doing something scary.
					</p>

					<ul class="social-links">
						<li><img class="socail" src="{% static 'images/f1.png' %}"></li>
						<li><img class="socail" src="{% static 'images/i1.png' %}"></li>
						<li><img class="socail" src="{% static 'images/x1.png' %}"></li>
					</ul>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Experience as a Developer</h5>
					<hr>
					<p>Full stack developer working independently</p>
					<p>Designed, managed and built education webpages as a sole developer, webpage supported thousands of clients with UI for parents, students and staff as well.</p>
				</div>
			</div>
			<br>
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>What I know<h5>
					<hr>
					<p>Python, Django, HTML/CSS, Javascript, Image Processing</p>
					<p>PS: Working on Django, Postgres and React</p>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>How I Learn</h5>
					<hr>
					<p>
						Reverse Engineer &bBuild Ugly Prototypes First.
					</p>
					<p>
						I can learn just about anything by having a final product to tear apart piece by piece. I break the code where I need to figure out why things work the way they do. Documentation is just a reference
					</p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Short Term Goals</h5>
					<hr>
					<p>
						After almost two years of supporting my system at the lab I'm ready to learn something new. I'll be collaborating and sharing my experince with others on my blog & my linkedin
					</p>
					<p>
						Aside from bulding small projects I would love to enter a position where I can be a part of a bigger team & learn from others with more experience than myself
					</p>
				</div>
			</div>
		</div>
		<br>
	</div>
</body>
</html>